HEADER{			/* acceuil/patrimoine/...*/
	position:absolute;
	top:0px;
	left:20%;
	width:80%;
	height:10%;
	background-color:#0F54E6;
	text-align:center;
	font-family:arial;
}
ARTICLE{		
	position:absolute;
	top:10%;
	left:20%;
	width:80%;		
	height:250%;		
	background-color:#F4F7F9;
}
ASIDE{			/* nom entreprise*/
	position:absolute;
	top:0px;
	right:80%;
	width:20%;
	height:260%;
	background-color:#1A46A4;
	text-align:center;
}
FOOTER{			/*contact/apropo/...*/
	position:absolute;
	top:260%;
	left:0px;
	width:100%;
	height:10%;
	background-color:#0B0C61;
	text-align:center;
	color:white;
}
/*Mise en forme dans le ARTICLE*/
ARTICLE img{
	margin-right:5px;
	margin-left:5px;
}
TABLE TR TD{
	border:2px solid black;
	text-align:left;
	vertical-align:top;
	background-color:#1A46A4;
	color:white;
}
.infoPS{				/*information tel/mail/adresse/...*/
	margin-left:20px;
	margin-bottom:20px;
	margin-right:35%;
	font-family:arial;
	background-color:orange;
	color:#1A46A4;
	border:2px solid;
}
.GTitre{					/*premiere colone*/
	background-color:orange;
	color:black;
	text-align:center;
	vertical-align:middle;
}
.tabl_S{
	width:100%;
}
.image_cv_P{		/*definition des images*/
	width:150px;
	height:150px;
	float:left;
}
.image_cv_S{
	width:150px;
	height:170px;
	float:left;
}
/*mise en forme dans le ASIDE*/
ASIDE button{
	background-color:#0F54E6;
	color:white;
	width:200px;
	height:30px;
	font-size:medium;
	border:none;
	margin-top:20%;
	margin-bottom:20%;
	font:bold 13px Arial;
	font-size:20px;
}
ASIDE button:hover{
	background-color:black;
}
ASIDE H3{
	color:orange;
	font-family:arial;
	font-size:20px;
}
#haut{
	border-bottom-style:solid;
	border-width:3px;
	border-color:grey;
}
#bas{
	border-bottom-style:solid;
	border-width:3px;
	border-color:grey;
}
ASIDE div{
	margin:0 auto;
	width:200px;
	margin-top:10px;
	margin-bottom:10px;
}
.logo{
	width:90px;
	height:90px;
	margin-top:30px;
	margin-bottom:20px;
}
/*Mise en forme dans le FOOTER*/
FOOTER a{
	color:white;	
}
FOOTER div{				/*alignement verticale*/
	margin-top:2%;
}
/* Mise en forme des menu déroulant*/
.sous{								/*permet de cacher la sous liste*/
	display:none;							
	box-shadow:0px 1px 2px #CCC;
	background-color:white;
	position:absolute;
	width:100%;
	z-index:1;
}
.sous a{							/*mise en forme du menu deroulant*/
	padding:10px;
	border-bottom:none;
}
.sous li{							/*mettre le menu déroulant à l'horizontale*/
	float :none;
	width:100%;
	text-align:left;
}
HEADER li {							/*cacher les pastilles des menue deroulants*/
	list-style-type: none; 
	float:left;
	width:25%;
	text-align:center;
	position:relative;
}
header ul li{
	float:left;
	width:25%;
	text-align:center;
	position:relative;
}

header a{							/*créer les blocs et enlève le soulignement des hyperliens dans les listes*/
	display:block;
	text-decoration:none;
	color:orange;
	font-size:20px;
	border-bottom:2px solid transparent; /*créer les bordures*/
	padding:10px 0px;
	display: inline-block;
}
header a:hover{						/*modifie l'apparence au survol de la liste*/
	border-bottom: 2px solid gold;
	color:black;
}
header ul::after{					/*ce qui s'affiche après le survol*/	
	content:"";
	display:table;
	clear:both;
}
header > ul li:hover .sous{					/*au survol d'une des listes mettre en block*/
	display:block;
}
.sous a:hover{								/*changer la couleur des liens au survol*/
	border-bottom:none;
	background-color: RGBa(200,200,200,0.1);
}


