/*mise en forme des boxes*/

HEADER{
	position:absolute;
	top:0px;
	left:0px;
	width:80%;
	height:15%;
	background-color:#a2c5b6;
	text-align:center;
	font-family:arial;
	color:white;
}
ARTICLE{
	position:absolute;
	top:10%;
	left:0px;
	width:80%;
	height:540%;
	background-color:white;
}

ASIDE{
	position:absolute;
	top:0px;
	left:80%;
	width:20%;
	height:550%;
	background-color:#2b3933;
	text-align:center;
}
.logo{
	width:80px;
	height:80px;
	margin-top:10px;
}
BUTTON{
	width:85px;
	height:85px;
	background:#fafafa;
	box-shadow:2px 2px 8px #aaa;
	font:bold 13px Arial;
	border-radius:50%;
	color:#555;
	margin-top:10%;
	margin-bottom:10%;
}
#haut{
	border-top-style:solid;
	border-bottom-style:solid;	
	border-width:3px;
	border-color:#a2c5b6;
}
#bas{
	border-bottom-style:solid;	
	border-width:3px;
	border-color:#a2c5b6;
}
ASIDE div{
	margin: 0 auto;
	width:200px;
	margin-top:10px;
	margin-bottom:10px;
}
ASIDE H3{
	color:#a2c5b6;
}

FOOTER{
	position:absolute;
	top:550%;
	left:0px;
	width:100%;
	height:10%;
	background-color:#a2c5b6;
	text-align:center;
}
FOOTER div {
	margin-top:2%;
	width: 100%;
}
FOOTER{
	color:white;
}
FOOTER a{
	color:white;
}


/* Mise en forme des menu déroulant */

header ul{
	list-style-type:none;
}

header ul li{		/*poistionnement des menus*/
	float:left;
	width:23%;
	text-align:center;
	position:relative;
}

header ul::after{			/*ce qui s'affiche après le survol*/	
	display:table;
	clear:both;
}

header a{					/*créer les blocs et enlève le soulignement des hyperliens dans les listes*/
	display:block;
	text-decoration:none;
	color:white;
	border-bottom:2px solid white;			/*créer les bordures*/
	padding:10px 0px;
}

header a:hover{				/*modifie l'apparence au survol de la liste*/
	color:#2b3933;
	background-color:white;
	border-bottom: 2px solid #2b3933;
}

.sous{
	display:none;					/*permet de cacher la sous liste*/
	box-shadow:0px 1px 2px #CCC;
	background-color:#2b3933;
	color:white;
	position:absolute;
	width:100%;
	z-index:1000;
}

header > ul li:hover .sous{			/*au survol d'une des listes mettre en block*/
	display:block;
}

.sous li{					/*mettre le menu déroulant à l'horizontale*/
	float : none;
	width:100%;
	text-align:left;
}

.sous a{					/*mise en forme du menu deroulant*/
	padding:10px;
	border-bottom:none;
}

/*Mise en forme du artcile*/	

H2{
	font-family:impact;
	border-bottom-style:dashed;
	border-bottom-color:#2b3933;
	border-bottom-width:2px;
}


H2 B{
	color:#a2c5b6;
	font-size:70px;
	font-family:impact;
}
ARTICLE div{
	width:95%;
	padding-left:20px;
}
p{
	text-align:justify;
}
.blason{
	width:90px;
	height:100px;
	margin-left:20px;
	margin-top:20px;
	
}
.chateau{
	width:600px;
	height:380px;
	float:center;
	text-align:center;
	}
.cremeChantilly{
	width:200px;
	height:200px;
	margin-left:70%;
	margin-top:-40%;
}
.gare_chantilly{
	width:600px;
	height:400px;
	margin-left:15%;
	margin-right:25%;
}
.nonette{
	width:450px;
	height:300px;
	float:left;
	margin-right:15%;
	margin-left:20px;
}
.eglise{
	width:390px;
	height:450px;
	float:left;
	margin-right:10px;
	margin-left:20px;
}
.chateau2{
	width:400px;
	height:230px;
	margin-left:54%;
	margin-top:-30%;
}
.troglodyte{
	width:390px;
	height:300px;
	margin-left:60%;
	margin-top:-30%;
}